[Unit]
Description=Servicio SEND_MQTT
After=multi-user.target

[Service]

Type=simple

ExecStart=/usr/bin/python3 /root/send_data_mqtt/axotec_mqtt.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target